In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# import load_data function from helper file 
%load_ext autoreload
%autoreload 2

# fix system path
import sys
sys.path.append("/home/jovyan/work")

In [38]:
# import dataset - train
training_data = pd.read_csv('../data/raw/train (1).csv')

In [39]:
# inspect the data
training_data.head()

,Id_old,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
0,10556,3799,80,24.3,7.8,3.0,6.4,45.7,0.1,0.3,...,2.9,72.1,2.2,2.0,3.8,3.2,1.1,0.2,1.6,1
1,5342,3800,75,21.8,10.5,4.2,7.9,55.1,-0.3,-1.0,...,3.6,67.8,3.6,3.7,6.6,0.7,0.5,0.6,1.4,1
2,5716,3801,85,19.1,4.5,1.9,4.5,42.8,0.4,1.2,...,0.6,75.7,0.6,1.8,2.4,0.8,0.4,0.2,0.6,1
3,13790,3802,63,19.1,8.2,3.5,6.7,52.5,0.3,0.8,...,1.5,66.9,0.8,2.0,3.0,1.8,0.4,0.1,1.9,1
4,5470,3803,63,17.8,3.7,1.7,3.4,50.8,0.5,1.4,...,0.5,54.0,2.4,2.7,4.9,0.4,0.4,0.6,0.7,1

In [40]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 22 columns):
Id_old         8000 non-null int64
Id             8000 non-null int64
GP             8000 non-null int64
MIN            8000 non-null float64
PTS            8000 non-null float64
FGM            8000 non-null float64
FGA            8000 non-null float64
FG%            8000 non-null float64
3P Made        8000 non-null float64
3PA            8000 non-null float64
3P%            8000 non-null float64
FTM            8000 non-null float64
FTA            8000 non-null float64
FT%            8000 non-null float64
OREB           8000 non-null float64
DREB           8000 non-null float64
REB            8000 non-null float64
AST            8000 non-null float64
STL            8000 non-null float64
BLK            8000 non-null float64
TOV            8000 non-null float64
TARGET_5Yrs    8000 non-null int64
dtypes: float64(18), int64(4)
memory usage: 1.3 MB

In [41]:
training_data.describe()

,Id_old,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
count,8000.000000,8000.00000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,...,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,6856.971000,7798.50000,62.777875,18.576662,7.267088,2.807037,6.231212,44.608900,0.264525,0.816562,...,1.947788,71.365825,1.077838,2.168500,3.245300,1.624513,0.648687,0.245212,1.257763,0.833625
std,3977.447579,2309.54541,17.118774,8.935263,4.318732,1.693373,3.584559,6.155453,0.384093,1.060964,...,1.252352,10.430447,0.785670,1.392224,2.085154,1.355986,0.407626,0.821037,0.723270,0.372440
min,4.000000,3799.00000,-8.000000,2.900000,0.800000,0.300000,0.800000,21.300000,-1.100000,-3.100000,...,0.000000,-13.300000,0.000000,0.200000,0.300000,0.000000,0.000000,-17.900000,0.100000,0.000000
25%,3413.750000,5798.75000,51.000000,12.000000,4.100000,1.600000,3.600000,40.400000,0.000000,0.100000,...,1.000000,65.000000,0.500000,1.100000,1.700000,0.700000,0.300000,0.100000,0.700000,1.000000
50%,6787.500000,7798.50000,63.000000,16.800000,6.300000,2.400000,5.400000,44.400000,0.300000,0.800000,...,1.700000,71.400000,0.900000,1.900000,2.800000,1.300000,0.600000,0.200000,1.100000,1.000000
75%,10299.250000,9798.25000,74.000000,23.500000,9.500000,3.700000,8.100000,48.700000,0.500000,1.500000,...,2.600000,77.500000,1.500000,2.900000,4.300000,2.200000,0.900000,0.400000,1.600000,1.000000
max,13798.000000,11798.00000,123.000000,73.800000,34.200000,13.100000,28.900000,67.200000,1.700000,4.700000,...,11.100000,168.900000,5.500000,11.000000,15.900000,12.800000,3.600000,18.900000,5.300000,1.000000

In [42]:
training_data['3P%'].describe()

count    8000.000000
mean       19.583700
std        16.003155
min       -38.500000
25%         8.400000
50%        19.500000
75%        30.600000
max        82.100000
Name: 3P%, dtype: float64

Data fields
Id_old - Previous Player Identifier
Id - Player Identifier
GP - Games Played
MIN - Minutes Played
PTS - Points Per Game
FGM - Field Goals Made
FGA - Field Goals Attempts
FG% - Field Goals Percent
3P Made - 3-Points Made
3PA - 3-Points Attempts
3P% - 3-Points Percent
FTM - Free Throw Made
FTA - Free Throw Attempts
FT% - Free Throw Percent
OREB - Offensive Rebounds
DREB - Defensive Rebounds
REB - Rebounds
AST - Assists
STL - Steals
BLK - Blocks
TOV - Turnovers
TARGET_5Yrs - Outcome: 1 if career length >= 5 years, 0 otherwise

In [43]:
training_data.FTM.describe()

count    8000.000000
mean        1.392525
std         0.926153
min         0.000000
25%         0.700000
50%         1.200000
75%         1.900000
max         8.100000
Name: FTM, dtype: float64

SInce some values are <0 and contextually this doesn't make sense, we replace all negative values with zero.

In [44]:
training_data.shape

(8000, 22)

In [45]:
# how many distinct id's are there?
len(training_data.Id.unique())

8000

In [46]:
# check distribution of the target
training_data.TARGET_5Yrs.value_counts()

1    6669
0    1331
Name: TARGET_5Yrs, dtype: int64

All variables are numeric, no missing values. Target is the last column, and use Id at column 2, remove column 1.

0 class is underrepresented, ratio about 16% 0, 84% 1

This could affect the power of the model

## Prepare data for model

In [47]:
df_cleaned = training_data.copy()

In [48]:
# remove id
df_cleaned.drop('Id_old', axis=1, inplace=True)

In [49]:
df_cleaned.shape

(8000, 21)

In [50]:
# remove id
df_cleaned.drop('Id', axis=1, inplace=True)

In [51]:
df_cleaned.shape

(8000, 20)

In [52]:
df_cleaned[df_cleaned<0] = 0

In [53]:
# create Y
target = df_cleaned.pop('TARGET_5Yrs')

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
X_train, X_val, y_train, y_val = train_test_split(df_cleaned, target, test_size=0.2, random_state=8)

In [4]:

test_data = pd.read_csv('../data/raw/test (1).csv')

In [5]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3799 entries, 0 to 3798
Data columns (total 21 columns):
Id_old     3799 non-null int64
Id         3799 non-null int64
GP         3799 non-null int64
MIN        3799 non-null float64
PTS        3799 non-null float64
FGM        3799 non-null float64
FGA        3799 non-null float64
FG%        3799 non-null float64
3P Made    3799 non-null float64
3PA        3799 non-null float64
3P%        3799 non-null float64
FTM        3799 non-null float64
FTA        3799 non-null float64
FT%        3799 non-null float64
OREB       3799 non-null float64
DREB       3799 non-null float64
REB        3799 non-null float64
AST        3799 non-null float64
STL        3799 non-null float64
BLK        3799 non-null float64
TOV        3799 non-null float64
dtypes: float64(18), int64(3)
memory usage: 623.4 KB

In [6]:
test_data.describe()

,Id_old,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,...,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV
count,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,...,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000
mean,7010.614109,1899.000000,62.853909,18.650224,7.328034,2.835404,6.302580,44.599079,0.255962,0.796920,...,1.399842,1.953567,71.612924,1.096025,2.179495,3.275783,1.636483,0.653593,0.257726,1.257910
std,3954.173641,1096.821164,17.151740,8.727259,4.294724,1.688427,3.579221,6.040168,0.380987,1.052862,...,0.926140,1.250376,10.457336,0.785678,1.371935,2.070646,1.335496,0.410573,0.639660,0.712449
min,1.000000,0.000000,6.000000,3.700000,0.700000,0.300000,0.800000,25.100000,-1.000000,-2.700000,...,0.000000,0.000000,23.700000,0.000000,0.200000,0.300000,0.000000,0.000000,-7.100000,0.100000
25%,3644.000000,949.500000,51.000000,12.200000,4.200000,1.600000,3.700000,40.500000,0.000000,0.100000,...,0.700000,1.000000,65.000000,0.500000,1.200000,1.800000,0.600000,0.400000,0.100000,0.700000
50%,7062.000000,1899.000000,63.000000,17.000000,6.400000,2.500000,5.500000,44.600000,0.300000,0.800000,...,1.200000,1.700000,71.500000,0.900000,1.900000,2.800000,1.300000,0.600000,0.200000,1.100000
75%,10402.500000,2848.500000,74.000000,23.300000,9.400000,3.700000,8.100000,48.500000,0.500000,1.500000,...,1.900000,2.600000,78.000000,1.500000,2.900000,4.300000,2.300000,0.900000,0.400000,1.600000
max,13792.000000,3798.000000,126.000000,68.000000,33.000000,13.400000,26.200000,74.600000,1.600000,4.300000,...,7.800000,9.800000,127.100000,6.900000,12.000000,18.500000,9.000000,2.700000,14.800000,5.200000

In [7]:
# remove old Id
test_cleaned = test_data.copy()

In [8]:
test_cleaned

,Id_old,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,...,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV
0,1,0,56,9.1,4.0,1.6,3.7,43.7,0.1,0.3,...,0.7,1.2,63.4,1.2,0.8,1.7,0.4,0.2,0.3,0.8
1,8194,1,43,19.3,10.1,3.7,8.1,46.0,0.6,1.7,...,1.8,2.5,75.3,0.5,0.9,1.5,3.5,0.6,0.0,1.8
2,3,2,82,33.9,11.3,4.9,10.6,45.6,0.5,1.9,...,1.8,2.7,71.2,1.3,3.3,4.5,2.5,1.3,0.3,2.0
3,8196,3,86,44.7,18.8,6.8,15.9,42.9,0.5,1.8,...,4.5,6.3,70.9,1.5,3.2,5.0,4.1,0.9,0.1,3.6
4,8197,4,58,12.3,4.7,1.6,4.0,40.0,0.5,1.7,...,1.1,1.3,76.9,0.2,0.6,0.9,1.5,0.5,-0.4,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3794,8175,3794,84,21.2,8.7,3.4,6.7,50.2,0.0,0.0,...,1.7,2.5,68.1,1.9,2.3,3.9,1.5,0.6,0.3,2.0
3795,8176,3795,49,16.3,6.4,2.9,6.6,44.4,-0.1,-0.4,...,1.0,1.9,50.2,1.7,2.8,4.4,0.4,0.4,0.4,0.7
3796,8178,3796,53,9.9,2.1,0.8,1.8,43.1,-0.4,-0.6,...,0.6,1.0,63.9,0.7,1.0,1.7,0.4,0.4,0.2,0.5
3797,8181,3797,89,38.3,14.5,5.4,11.8,45.2,0.5,1.2,...,2.5,2.9,89.2,1.5,4.0,5.5,3.7,1.3,0.3,2.4
3798,8183,3798,55,12.0,3.0,1.1,2.5,42.3,0.1,0.6,...,0.9,1.1,76.7,0.7,2.0,2.6,0.6,0.3,0.2,1.2

In [9]:
test_cleaned.drop('Id_old', axis=1, inplace=True)
print(test_cleaned)

        Id  GP   MIN   PTS  FGM   FGA   FG%  3P Made  3PA   3P%  FTM  FTA  \
0        0  56   9.1   4.0  1.6   3.7  43.7      0.1  0.3   7.3  0.7  1.2
1        1  43  19.3  10.1  3.7   8.1  46.0      0.6  1.7  35.1  1.8  2.5
2        2  82  33.9  11.3  4.9  10.6  45.6      0.5  1.9  44.8  1.8  2.7
3        3  86  44.7  18.8  6.8  15.9  42.9      0.5  1.8  13.5  4.5  6.3
4        4  58  12.3   4.7  1.6   4.0  40.0      0.5  1.7  38.7  1.1  1.3
...    ...  ..   ...   ...  ...   ...   ...      ...  ...   ...  ...  ...
3794  3794  84  21.2   8.7  3.4   6.7  50.2      0.0  0.0  -4.5  1.7  2.5
3795  3795  49  16.3   6.4  2.9   6.6  44.4     -0.1 -0.4  19.8  1.0  1.9
3796  3796  53   9.9   2.1  0.8   1.8  43.1     -0.4 -0.6   1.9  0.6  1.0
3797  3797  89  38.3  14.5  5.4  11.8  45.2      0.5  1.2  24.7  2.5  2.9
3798  3798  55  12.0   3.0  1.1   2.5  42.3      0.1  0.6  11.7  0.9  1.1

       FT%  OREB  DREB  REB  AST  STL  BLK  TOV
0     63.4   1.2   0.8  1.7  0.4  0.2  0.3  0.8
1     75.3   0.5   0.9  1.5  3.5  0.6  0.0  1.8
2     71.2   1.3   3.3  4.5  2.5  1.3  0.3  2.0
3     70.9   1.5   3.2  5.0  4.1  0.9  0.1  3.6
4     76.9   0.2   0.6  0.9  1.5  0.5 -0.4  0.9
...    ...   ...   ...  ...  ...  ...  ...  ...
3794  68.1   1.9   2.3  3.9  1.5  0.6  0.3  2.0
3795  50.2   1.7   2.8  4.4  0.4  0.4  0.4  0.7
3796  63.9   0.7   1.0  1.7  0.4  0.4  0.2  0.5
3797  89.2   1.5   4.0  5.5  3.7  1.3  0.3  2.4
3798  76.7   0.7   2.0  2.6  0.6  0.3  0.2  1.2

[3799 rows x 20 columns]

In [108]:
# create Id column for pasting to output for kaggle
ID = pd.DataFrame(test_cleaned['Id'])

In [109]:
ID

        Id
0        0
1        1
2        2
3        3
4        4
...    ...
3794  3794
3795  3795
3796  3796
3797  3797
3798  3798

[3799 rows x 1 columns]

In [110]:
ID.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3799 entries, 0 to 3798
Data columns (total 1 columns):
Id    3799 non-null int64
dtypes: int64(1)
memory usage: 29.8 KB

In [114]:
ID.to_csv('../data/interim/test_id_col.csv', index=False)

In [115]:
id_test = pd.read_csv('../data/interim/test_id_col.csv')
print(id_test)

        Id
0        0
1        1
2        2
3        3
4        4
...    ...
3794  3794
3795  3795
3796  3796
3797  3797
3798  3798

[3799 rows x 1 columns]

In [10]:
test_cleaned.drop('Id', axis=1, inplace=True)

In [11]:
test_cleaned

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV
0,56,9.1,4.0,1.6,3.7,43.7,0.1,0.3,7.3,0.7,1.2,63.4,1.2,0.8,1.7,0.4,0.2,0.3,0.8
1,43,19.3,10.1,3.7,8.1,46.0,0.6,1.7,35.1,1.8,2.5,75.3,0.5,0.9,1.5,3.5,0.6,0.0,1.8
2,82,33.9,11.3,4.9,10.6,45.6,0.5,1.9,44.8,1.8,2.7,71.2,1.3,3.3,4.5,2.5,1.3,0.3,2.0
3,86,44.7,18.8,6.8,15.9,42.9,0.5,1.8,13.5,4.5,6.3,70.9,1.5,3.2,5.0,4.1,0.9,0.1,3.6
4,58,12.3,4.7,1.6,4.0,40.0,0.5,1.7,38.7,1.1,1.3,76.9,0.2,0.6,0.9,1.5,0.5,-0.4,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3794,84,21.2,8.7,3.4,6.7,50.2,0.0,0.0,-4.5,1.7,2.5,68.1,1.9,2.3,3.9,1.5,0.6,0.3,2.0
3795,49,16.3,6.4,2.9,6.6,44.4,-0.1,-0.4,19.8,1.0,1.9,50.2,1.7,2.8,4.4,0.4,0.4,0.4,0.7
3796,53,9.9,2.1,0.8,1.8,43.1,-0.4,-0.6,1.9,0.6,1.0,63.9,0.7,1.0,1.7,0.4,0.4,0.2,0.5
3797,89,38.3,14.5,5.4,11.8,45.2,0.5,1.2,24.7,2.5,2.9,89.2,1.5,4.0,5.5,3.7,1.3,0.3,2.4
3798,55,12.0,3.0,1.1,2.5,42.3,0.1,0.6,11.7,0.9,1.1,76.7,0.7,2.0,2.6,0.6,0.3,0.2,1.2

In [13]:
# save them all out to data/processed folder

# np.save('../data/processed/X_train_new', X_train)
# np.save('../data/processed/X_val_new',   X_val)
# np.save('../data/processed/y_train_new', y_train)
# np.save('../data/processed/y_val_new',   y_val)
np.save('../data/processed/X_test_new', test_cleaned)